username admin privilege 15 role network-admin secret sha512 $6$rmthfhcvz7NyO8Zf$Yfx3donZ4PJtc0rrT7Vp2ophccv0EvD0FghxqeUHD6W8fySNa2bUNvAbOQCyhY7fCpo0JupkwjG3rZlknxsGk0

management api netconf
   transport ssh default
