
ip access-list standard IPV4-MGMT-SNMP
{% for entry in snmp_acl_entries_v4 %}
 remark {{ entry.comment }}
 permit {{ entry.prefix|prefix_to_network }} {{ entry.prefix|prefix_to_wildcard }}
{% endfor %}


ip access-list standard IPV4-MGMT-SSH
{% for entry in ssh_acl_entries_v4 %}
 remark {{ entry.comment }}
 permit {{ entry.prefix|prefix_to_network }} {{ entry.prefix|prefix_to_wildcard }}
{% endfor %}


ipv6 access-list IPV6-MGMT-SNMP
{% for entry in snmp_acl_entries_v6 %}
 remark {{ entry.comment }}
 permit ipv6 {{ entry.prefix }} any
{% endfor %}


ipv6 access-list IPV6-MGMT-SSH
{% for entry in ssh_acl_entries_v6 %}
 remark {{ entry.comment }}
 permit ipv6 {{ entry.prefix }} any
{% endfor %}


{% for entry in snmp_acl_entries_v4 %}
access-list 11 permit {{ entry.prefix|prefix_to_network }} {{ entry.prefix|prefix_to_wildcard }}
{% endfor %}

! NTP Servers
{% for entry in ntp_servers_v4 %}
access-list 12 permit {{ entry.prefix|prefix_to_ip }} 
{% endfor %}

access-list 13 deny   any
