name: build network 

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: self-hosted
    container:
      image: anttof/network-builder:latest # This is our private docker image.

    steps: 
     - name: Check out this repository  
       uses: actions/checkout@v2
     - name: Any Name Bash Test Step
       shell: bash
       run: |
          echo "test"
     - name: Lint Python Code 
       run: poetry --version