name: build network 

on:
  push:
    branches: [ main ]

jobs:
  lint:
    runs-on: self-hosted
    container:
      image: anttof/network-builder:latest # This is our private docker image.

    steps: 
     - name: Check out this repository  
       uses: actions/checkout@v2

     - name: Simple Bash test 
       shell: bash
       run: |
          ls -ahl

     - name: Check black 
       shell: bash
       run: |
          which black

     - name: Reinstall
       shell: bash
       run: |
          poetry install

     - name: Lint Python Code 
       run: poetry run black . --check