name: build network 

on:
  push:
    branches: [ main ]

env:
  APP_DIR: network_builder

jobs:
  lint_code:
    runs-on: self-hosted
    container:
      image: anttof/network-builder:latest

    steps: 
     - name: Check out this repository  
       uses: actions/checkout@v2

     - name: Simple Bash test 
       shell: bash
       run: |
          ls -ahl

     - name: Black Python Code Lint 
       run: black . --check

     - name: Isort Python Import Sort
       run: isort . --profile black --check


  test_code:
    runs-on: self-hosted
    container:
      image: anttof/network-builder:latest

    steps: 
     - name: Check out this repository  
       uses: actions/checkout@v2

     - name: Test Jinja2 Filters
       working-directory: ./network_builder
       run: python -m unittest tests.test_filters -v

      #  python -m unittest discover -s tests -v
     - name: Test Network Builder
       working-directory: ./network_builder
       run: python -m unittest tests.test_network_builder -v

  build_configs:
    runs-on: self-hosted
    needs: [lint_code, test_code]
    container:
      image: anttof/network-builder:latest

    steps: 
     - name: Check out this repository  
       uses: actions/checkout@v2

     - name: generate_configs 
       working-directory: ./network_builder
       run: ./network_builder.py

  test_configs:
    runs-on: self-hosted
    needs: [build_configs]

    steps: 

     - name: install pybatfish 
       run: pip install pybatfish rich

     - name: Test Configuration via Batfish 
       run: batfish/test_configs.py --disable-pytest-warnings -s
