name: build network 

on:
  push:
    branches: [ main ]

jobs:
  lint:
    runs-on: self-hosted
    container:
      image: anttof/network-builder:latest

    steps: 
     - name: Check out this repository  
       uses: actions/checkout@v2

     - name: Simple Bash test 
       shell: bash
       run: |
          ls -ahl

     - name: Lint Python Code 2
       run: black . --check

     - name: generate_configs 
       working-directory: ./network_builder
       run: ./network_builder.py

     - name: Simple Bash test 
       shell: bash
       run: |
          ls -ahl

     - name: Test Configuration via Batfish 
       run: tests/test_configs.py --disable-pytest-warnings -s

  test_configs:
    runs-on: self-hosted

    steps: 
     - name: Simple Bash test 
       shell: bash
       run: |
          ls -ahl

     - name: install pybatfish 
       run: pip install pybatfish rich

     - name: Test Configuration via Batfish 
       run: tests/test_configs.py --disable-pytest-warnings -s
