name: build network 

on:
  push:
    branches: [ main ]

jobs:
  lint:
    runs-on: self-hosted
    container:
      image: anttof/network-builder:latest # This is our private docker image.

    steps: 
     - name: Check out this repository  
       uses: actions/checkout@v2

     - name: Simple Bash test 
       shell: bash
       run: |
          ls -ahl

     

     #- name: Reinstall
     #  shell: bash
     #  run: |
     #     poetry install

     #- name: Lint Python Code 
     #  run: poetry install

     - name: Lint Python Code 2
       run: black . --check

     - name: Run Tests 
       run: tests/verify_templates.py

     - name: generate_configs 
       working-directory: ./network_builder
       run: ./network_builder.py